@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.link::before,
.button-slider-back,
.button-slider-next,
.button-light::before,
.button-dark::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-back:before,
.button-slider-back:before {
  content: "\e900";
}

._icon-arrow-next:before,
.link:before,
.button-slider-next:before,
.button-light:before,
.button-dark:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-LinkedIn:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-logo:before {
  content: "\e905";
}

._icon-mail:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-pininterest:before {
  content: "\e908";
}

._icon-twitter:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.loaded body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button-light,
.button-dark {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

@supports (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .button-light,
  .button-dark {
    padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .button-light,
  .button-dark {
    padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .button-light,
  .button-dark {
    padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .button-light,
  .button-dark {
    padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (padding-left: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
  .button-light,
  .button-dark {
    padding-left: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
  .button-light,
  .button-dark {
    padding-left: calc(1.25rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
  .button-light,
  .button-dark {
    padding-right: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
  .button-light,
  .button-dark {
    padding-right: calc(1.25rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.button-light::before,
.button-dark::before {
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.button-light:active,
.button-dark:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.button-light:active::before,
.button-dark:active::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.button-light._fw,
.button-dark._fw {
  width: 100%;
}

.button-light {
  background-color: #FFFFFF;
  color: #333333;
}

.button-light::before {
  color: #333333;
}

.button-dark {
  background-color: #333333;
  color: #FFFFFF;
}

.button-dark::before {
  color: #FFFFFF;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button-slider-back,
.button-slider-next {
  border: 0.0625rem solid #F2F2F2;
  width: 3.3125rem;
  height: 3.3125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
}

.button-slider-back::before,
.button-slider-next::before {
  font-size: 0.5rem;
}

.button-slider-back:active,
.button-slider-next:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.button-slider-back:disabled,
.button-slider-next:disabled {
  background-color: #F3F3F3;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.title {
  font-weight: 300;
  line-height: 1;
  color: #BDBDBD;
  text-align: start;
}

@supports (font-size: clamp( 2.625rem , 2.125rem  +  2.5vw , 4rem )) {
  .title {
    font-size: clamp( 2.625rem , 2.125rem  +  2.5vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 2.125rem  +  2.5vw , 4rem )) {
  .title {
    font-size: calc(2.625rem + 1.375 * (100vw - 20rem) / 55);
  }
}

.title span {
  display: block;
  font-weight: 700;
  color: #333333;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
  color: #000000;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
}

.logo span {
  font-size: 1.625rem;
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.625rem;
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.link::before {
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.link:active::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-height: 6.5625rem;
}

.header__logo {
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.3125rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem );
       -moz-column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem );
            column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.5080645161rem  +  9.9255583127vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 47.9375rem) / 25.1875);
       -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 47.9375rem) / 25.1875);
            column-gap: calc(1.25rem + 2.5 * (100vw - 47.9375rem) / 25.1875);
  }
}

.menu__item {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  padding: 0.25rem 0;
}

.menu__item::before,
.menu__item::after {
  content: "";
  width: 0%;
  height: 0.0625rem;
  background-color: #333333;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item::before {
  bottom: 0;
  right: 0;
}

.menu__item::after {
  left: 0;
  top: 0;
}

.menu__item._active {
  font-weight: 500;
  color: #000000;
}

.menu__item._active::before,
.menu__item._active::after {
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #2C2C2C;
  color: #FFFFFF;
}

@supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .footer__body {
    padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .footer__body {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .footer__body {
    padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .footer__body {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

@supports (padding-top: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
  .footer__copyright {
    padding-top: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
  .footer__copyright {
    padding-top: calc(0.9375rem + 0.625 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
  .footer__copyright {
    padding-bottom: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
  .footer__copyright {
    padding-bottom: calc(1.5625rem + 0 * (100vw - 20rem) / 55);
  }
}

.footer__container {
  text-align: center;
  color: rgba(200, 200, 200, 0.5);
  font-size: 0.75rem;
  line-height: 1.8333333333;
}

.body-footer {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.6);
}

.body-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 3.75rem;
  text-align: start;
}

.body-footer__logo {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.125rem;
}

.body-footer__logo span {
  font-size: 3.75rem;
}

.information-body-footer__title {
  font-weight: 700;
  line-height: 1.2727272727;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .information-body-footer__title {
    font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .information-body-footer__title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.information-body-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.information-body-footer__item {
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.information-body-footer__link {
  display: inline-block;
  position: relative;
}

.information-body-footer__link::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #FFFFFF;
  bottom: -0.3125rem;
  left: 0;
  height: 0.125rem;
  width: 0%;
}

.contacts-body-footer__title {
  font-weight: 700;
  line-height: 1.2727272727;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .contacts-body-footer__title {
    font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .contacts-body-footer__title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.contacts-body-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
}

.contacts-body-footer__item {
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.7142857143;
  font-size: 0.875rem;
  padding-left: 1.875rem;
  position: relative;
}

.contacts-body-footer__link span {
  position: absolute;
  top: 0.3125rem;
  left: 0;
}

.contacts-body-footer__item-location {
  max-width: 11.25rem;
}

.social-body-footer__title {
  font-weight: 700;
  line-height: 1.2727272727;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .social-body-footer__title {
    font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .social-body-footer__title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.social-body-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem ))) {
  .social-body-footer__inner {
    -webkit-column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
       -moz-column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
            column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem ))) {
  .social-body-footer__inner {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
            column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.page__home {
  margin-bottom: 6.25rem;
}

.page__about {
  margin-bottom: 6.25rem;
}

.page__plan {
  margin-bottom: 6.25rem;
}

.page__projects {
  margin-bottom: 6.25rem;
}

.page__contact {
  margin-bottom: 6.25rem;
}

.home__container {
  position: relative;
}

.home__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.811965812%;
          flex: 0 1 65.811965812%;
}

.home__slider .home-fraction {
  font-size: 1.5rem;
  line-height: 1;
  color: #BDBDBD;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home__navigation {
  position: absolute;
  left: 0;
  bottom: 10.0120627262%;
}

.home__navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.3125rem , -1.7664930556rem  +  6.9444444444vw , 1.5625rem )) {
  .home__navigation-button {
    gap: clamp( 0.3125rem , -1.7664930556rem  +  6.9444444444vw , 1.5625rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -1.7664930556rem  +  6.9444444444vw , 1.5625rem )) {
  .home__navigation-button {
    gap: calc(0.3125rem + 1.25 * (100vw - 29.9375rem) / 18);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -7.1075754938rem  +  17.4120690513vw , 5.625rem )) {
  .home__navigation-button {
    margin-bottom: clamp( 1.25rem , -7.1075754938rem  +  17.4120690513vw , 5.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -7.1075754938rem  +  17.4120690513vw , 5.625rem )) {
  .home__navigation-button {
    margin-bottom: calc(1.25rem + 4.375 * (100vw - 47.99875rem) / 25.12625);
  }
}

.slide-home {
  position: relative;
}

.slide-home__img img {
  max-width: 100%;
}

.slide-home__button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.about {
  background-color: #F3F3F3;
}

.about__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  padding: 1.875rem 0;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.7179487179%;
          flex: 0 0 48.7179487179%;
}

.about__img img {
  max-width: 100%;
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .content-about__title {
    margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
  .content-about__title {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.content-about__text {
  line-height: 1.5625;
  font-weight: 300;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .content-about__text {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .content-about__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .content-about__text {
    margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .content-about__text {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .plan__title {
    margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .plan__title {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.plan__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 35.625rem;
}

@supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .plan__item {
    gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .plan__item {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.plan__num {
  font-weight: 900;
  color: #F2F2F2;
}

@supports (font-size: clamp( 5rem , 2.2727272727rem  +  13.6363636364vw , 12.5rem )) {
  .plan__num {
    font-size: clamp( 5rem , 2.2727272727rem  +  13.6363636364vw , 12.5rem );
  }
}

@supports not (font-size: clamp( 5rem , 2.2727272727rem  +  13.6363636364vw , 12.5rem )) {
  .plan__num {
    font-size: calc(5rem + 7.5 * (100vw - 20rem) / 55);
  }
}

.plan__text {
  font-weight: 40;
  line-height: 1.6363636364;
}

@supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
  .plan__text {
    font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
  .plan__text {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .projects__title {
    margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .projects__title {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.projects__btn {
  text-align: end;
  width: 100%;
}

.body-projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.body-projects__top-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body-projects__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.body-projects__bottom-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.body-projects__item {
  position: relative;
  overflow: hidden;
}

.body-projects__item-img {
  width: 100%;
  height: 15.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-projects__item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-projects__item-title {
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 0.875rem;
}

@supports (font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
  .body-projects__item-title {
    font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
  .body-projects__item-title {
    font-size: calc(2rem + 2 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .contact__title {
    margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .contact__title {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.25rem , 0.060483871rem  +  2.4813895782vw , 1.875rem )) {
  .contact__body {
    gap: clamp( 1.25rem , 0.060483871rem  +  2.4813895782vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.060483871rem  +  2.4813895782vw , 1.875rem )) {
  .contact__body {
    gap: calc(1.25rem + 0.625 * (100vw - 47.9375rem) / 25.1875);
  }
}

.contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24.375rem;
          flex: 1 0 24.375rem;
}

.contact__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46.875rem;
          flex: 1 1 46.875rem;
  position: relative;
  max-height: 23.0625rem;
}

.contact__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__input,
.form__textarea {
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 0.04em;
  width: 100%;
  padding: 0.9375rem 1.8125rem;
  background-color: #F3F3F3;
  outline: none;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #BDBDBD;
}

.form__input {
  margin-bottom: 0.625rem;
}

.form__textarea {
  max-height: 8.625rem;
  resize: none;
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .form__textarea {
    margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
  .form__textarea {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
  }
}

.gallery {
  padding: 6.25rem 0;
}

.gallery__title {
  margin-bottom: 3.75rem;
}

.slide-gallery {
  height: 16.25rem;
  max-width: 13.125rem;
}

.slide-gallery img {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .home__content {
    max-width: 21.875rem;
  }

  .home__navigation {
    background-color: #FFFFFF;
  }

  .plan__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 61.99875em) {
  .plan__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 73.125em) {
  .home__navigation {
    padding: 0 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .body-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .plan__item {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #BDBDBD;
    padding: 6.25rem 0.9375rem 0.9375rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .menu__item {
    font-size: 18px;
    color: #FFFFFF;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #FFFFFF;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .body-footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .body-footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .body-footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .home__content {
    padding: 1.875rem 0;
  }

  .home__navigation-button {
    margin-bottom: 0;
  }

  .home__navigation-button button {
    background-color: #FFFFFF;
  }

  .home__navigation-fraction {
    display: none;
  }

  .home__navigation {
    left: auto;
    right: 0;
    bottom: 0;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .body-projects__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-projects__top-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .body-projects__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-projects__bottom-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .body-projects__item-content {
    position: static;
  }

  .contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contact__img {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .slide-home__button::before {
    display: none;
  }

  .content-about__btn {
    width: 100%;
  }

  .projects__btn button {
    width: 100%;
  }

  .form__btn {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .button-light:hover::before,
  .button-dark:hover::before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .button-slider-back:hover,
  .button-slider-next:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .link:hover::before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .menu__item:hover::before,
  .menu__item:hover::after {
    width: 100%;
  }

  .information-body-footer__link:hover::before {
    width: 100%;
  }

  .body-projects__item:hover .body-projects__item-content {
    top: 0;
  }
}